@model Dashboard.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card mb-4">
            <h5 class="card-header">Personel Ekle</h5>

            <hr class="my-0">
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.İsim, htmlAttributes: new { @class = "control-label col-md-6" })

                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                                <input class="form-control" type="text" id="İsim" name="İsim" value="" autofocus="">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Soyisim, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                                <input class="form-control" type="text" id="Soyisim" name="Soyisim" value="" autofocus="">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">

                            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-6" })
                            <input class="form-control" type="email" id="Mail" name="Mail" value="" placeholder="john.doe@example.com">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Departman, htmlAttributes: new { @class = "control-label col-md-6" })
                            <select name="Departman" class="form-control" required>
                                <option value="Seçiniz">Seçiniz</option>
                                <option value="Yazılım">Yazılım</option>
                                <option value="İş Geliştirme">İş Geliştirme</option>
                                <option value="Ajans">Ajans</option>
                                <option value="Yönetim">Yönetim</option>
                            </select>
                        </div>

                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Görev, htmlAttributes: new { @class = "control-label col-md-6" })
                            <select name="Görev" class="form-control" required>
                                <option value="Seçiniz">Seçiniz</option>
                                <option value="Yönetici">Yönetici</option>
                                <option value="Web Developer">Web Geliştirme</option>
                                <option value="Mobile Developer">App Developer</option>
                                <option value="AI Developer">AI Developer</option>
                                <option value="Sosyal Medya İçerik Üreticisi">Sosyal Medya İçerik Üreticisi</option>
                                <option value="Tasarımcı">Tasarımcı</option>
                                <option value="Kurumsal İletişim">Kurumsal İletişim</option>
                                <option value="Proje ve Satış Sorumlusu">Proje ve Satış Sorumlusu</option>
                                <option value="İş Geliştirme Uzmanı">İş Geliştirme Uzmanı</option>
                                <option value="Stajyer">Stajyer</option>

                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.TCND, htmlAttributes: new { @class = "control-label col-md-6" })
                            <input class="form-control" type="text" name="TCND" id="TCND" value="">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Yetki, htmlAttributes: new { @class = "control-label col-md-6" })
                            <select name="Yetki" class="form-control" required>
                                <option value="Seçiniz">Seçiniz</option>
                                <option value="Yönetici">Yönetici</option>
                                <option value="Personel">Personel</option>

                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.TelefonNumarası, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">TR (+90)</span>
                                <input type="text" id="TelefonNumarası" name="TelefonNumarası" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.AdresBilgi, htmlAttributes: new { @class = "control-label col-md-6" })
                            <input class="form-control" type="text" name="AdresBilgi" id="AdresBlgi" value="">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.DogumTarihi, htmlAttributes: new { @class = "control-label col-md-6" })
                            <input class="form-control" type="datetime-local" name="DogumTarihi" id="DogumTarihi" value="" placeholder="gg.aa.yyyy">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.IseBaslamaTarihi, htmlAttributes: new { @class = "control-label col-md-6" })
                            <input class="form-control" type="datetime-local" name="IseBaslamaTarihi" id="IseBaslamaTarihi" value="">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-6" })
                            <input class="form-control" type="password" name="Sifre" id="Sifre" value="">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.PozisyonAcıklama, htmlAttributes: new { @class = "control-label col-md-6" })
                            <input class="form-control" type="text" name="PozisyonAcıklama" id="PozisyonAcıklama" value="">
                        </div>

                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Personel Oluştur</button>
                        <a href="/PersonelBilgileris/Index/" class="btn btn-outline-secondary">Ana Sayfaya Dön</a>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>}




