@model Dashboard.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PersonelBilgiId)
    <div class="card mb-4">
        

        <hr class="my-0">
        <div class="card-body">
            <form id="formAccountSettings" method="POST" onsubmit="return false">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.İsim, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                            <input class="form-control" type="text" id="İsim" name="İsim" autofocus="" value="@Model.İsim">
                        </div>
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Soyisim, htmlAttributes: new { @class = "control-label col-md-6" })

                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>

                            <input class="form-control" type="text" id="Soyisim" name="Soyisim" autofocus="" value="@Model.Soyisim">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.PersonelResim, htmlAttributes: new { @class = "control-label col-md-6" })

                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-image"></i></span>

                                <input class="form-control" type="text" id="PersonelResim" name="PersonelResim" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                <input class="form-control" type="email" name="Mail" id="Mail" value="@Model.Mail">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Departman, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                <input class="form-control" type="text" name="Departman" id="Departman" value="@Model.Departman">

                            </div>

                        </div>

                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Görev, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-alarm"></i></span>

                                <input class="form-control" type="text" name="Görev" id="Gorev" value="@Model.Görev">

                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.TCND, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-alarm"></i></span>
                                <input class="form-control" type="text" name="TCND" id="TCND" value="@Model.TCND">

                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Yetki, htmlAttributes: new { @class = "control-label col-md-6" })
                            <select name="Yetki" class="form-control" required>
                                <option value="Seçiniz">Seçiniz</option>
                                <option value="Yönetici">Yönetici</option>
                                <option value="Personel">Personel</option>

                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.TelefonNumarası, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                                <input class="form-control" type="text" name="TelefonNumarası" id="TelefonNumarası" value="@Model.TelefonNumarası">

                            </div>

                           

                                <div class="mb-3 col-md-6">
                @Html.LabelFor(model => model.Aktif, htmlAttributes: new { @class = "control-label col-md-6" })
                <select name="Aktif" class="form-control" required>
                    <option value="Seçiniz">Seçiniz</option>
                    <option value="Aktif">Aktif</option>
                    <option value="Pasif">Pasif</option>

                </select>
            </div>
                                <div class="mb-3 col-md-6">
                                    @Html.LabelFor(model => model.AdresBilgi, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-map"></i></span>
                                        <input class="form-control" type="text" name="AdresBilgi" id="AdresBilgi" value="@Model.AdresBilgi">
                                    </div>

                                </div>
                                <div class="mb-3 col-md-6">
                                    @Html.LabelFor(model => model.DogumTarihi, htmlAttributes: new { @class = "control-label col-md-6" })

                                    <input class="form-control" type="text" id="DogumTarihi" name="DogumTarihi" value="@Model.DogumTarihi">
                                </div>
                                <div class="mb-3 col-md-6">
                                    @Html.LabelFor(model => model.IseBaslamaTarihi, htmlAttributes: new { @class = "control-label col-md-6" })

                                    <input class="form-control" type="text" id="IseGirisTarihi" name="IseGirisTarihi" value="@Model.IseBaslamaTarihi">
                                </div>

                                <div class="mb-3 col-md-6">
                                    @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-paste"></i></span>
                                        <input class="form-control" type="password" id="Sifre" name="Sifre" value="@Model.Sifre">
                                    </div>

                                </div>
                                <div class="mb-3 col-md-6">
                                    @Html.LabelFor(model => model.PozisyonAcıklama, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-message2" class="input-group-text"><i class="bx bx-comment"></i></span>
                                        <input class="form-control" type="text" id="PozisyonAciklama" name="PozisyonAciklama" value="@Model.PozisyonAcıklama">
                                    </div>
                                </div>
                            </div>

                        </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Personel Düzenle</button>
                        <a href="/PersonelBilgileris/Index/" class="btn btn-outline-secondary">Anasayfaya Dön</a>
                    </div>
            </form>
        </div>
 
    </div>

    </div>
}







