@model Dashboard.Models.Müşteri.MusteriBilgi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MÜŞTERİ SİL</h2>

<h3>Silmek istediğinden emin misin?</h3>
<div>
    <h4>Müşteri Bilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MusteriMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriIsim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriIsim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriSoyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriSoyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusteriIletisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusteriIletisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SirketIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SirketIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatılanUrun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatılanUrun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IletisimeGecenKisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IletisimeGecenKisi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
