@model Dashboard.Models.Urunler.UrunBilgi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ÜRÜN SİL</h2>

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Ürün Bilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunIsim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunIsim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToplamSatılanAdet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplamSatılanAdet)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
