@model Dashboard.Models.Urunler.UrunBilgi

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürün Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UrunBilgiId)
        <div class="card mb-4">


            <hr class="my-0">
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.UrunIsim, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                                <input class="form-control" type="text" id="UrunIsim" name="UrunIsim" autofocus="" value="@Model.UrunIsim">
                            </div>
                        </div>

                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.UrunAciklama, htmlAttributes: new { @class = "control-label col-md-6" })

                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>

                                <input class="form-control" type="text" id="UrunAciklama" name="UrunAciklama" autofocus="" value="@Model.UrunAciklama">
                            </div>

                              
                            <div class="mb-3 col-md-6">
                                @Html.LabelFor(model => model.UrunFiyat, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input class="form-control" type="text" name="UrunFiyat" id="UrunFiyat" value="@Model.UrunFiyat">
                                </div>

                            </div>

                            <div class="mb-3 col-md-6">
                                @Html.LabelFor(model => model.ToplamSatılanAdet, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input class="form-control" type="text" name="SatılanAdet" id="SatılanAdet" value="@Model.ToplamSatılanAdet">
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Ürün Düzenle</button>
                        <a href="/UrunBilgis/Index/" class="btn btn-outline-secondary">Anasayfaya Dön</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
}
