@model IEnumerable<Dashboard.Models.ProjeTakip.PersonelProje>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.js"></script>
<div class="card">
    <h5 class="card-header">PROJE GENEL BAKIŞ</h5>
    <div class="table-responsive text-nowrap">
        <table class="table" id="projelistele">
            <thead>
                <tr>
                    <th>PROJE BAŞLIĞI</th>

                    <th>ÖNCELİK DURUMU</th>
                    <th>PROJE TARİHİ</th>
                    <th>SORUMLULAR</th>
                    <th>DURUM</th>
                    <th>TAMAMLANMA ORANI</th>
                    <th>AKSİYON</th>
                    <th>PROJE AÇIKLAMASI</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.ProjeIsim</strong></td>

                        <td>
                            @if (item.PriorityStatus == "Düşük Öncelikli")
                            {
                                <span class="badge bg-label-warning me-1" style="width:150px;">@item.PriorityStatus</span>
                            }
                            else if (item.PriorityStatus == "Orta Öncelikli")
                            {
                                <span class="badge bg-label-info me-1" style="width:150px;">@item.PriorityStatus</span>
                            }
                            else
                            {
                                <span class="badge bg-label-primary me-1" style="width:150px;">@item.PriorityStatus</span>

                            }


                        </td>
                        <td>@item.ProjeBaslangıcTarihi</td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">

                                @foreach (var y in item.PersonelBilgileris)
                                {
                                    <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="@y.İsim @y.Soyisim">
                                        <img src="@y.PersonelResim" alt="Avatar" class="rounded-circle">
                                    </li>
                                }


                            </ul>
                        </td>
                        <td>
                            @if (!item.ProjeDurumu)
                            {<span class="badge bg-label-danger me-1" style="width:50px;"><i class="bx  bx-message-square-minus"></i></span>

                            }
                            else
                            {
                                <span class="badge bg-label-success me-1" style="width:50px;"><i class="bx bx-message-square-check"></i></span>

                            }
                        </td>
                        <td>
                            <div class="progress" style="height:14px">
                                <div class="progress-bar" role="progressbar" style="width: @item.TamamlanmaOranı%; background-color:#696cff;" aria-valuenow="@item.TamamlanmaOranı" aria-valuemin="0" aria-valuemax="100">
                                    @item.TamamlanmaOranı%
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/PersonelProje/Edit/@item.PersonelProjeId"><i class="bx bx-edit-alt me-1"></i> Düzenle</a>
                                    <a class="dropdown-item" href="/PersonelProje/Tamamla/@item.PersonelProjeId"><i class="bx bx-check me-1"></i> Tamamla</a>
                                </div>
                            </div>
                        </td>
                        <td>@item.ProjeAcıklama</td>
                    </tr>
                }



            </tbody>
        </table>
    </div>
</div>



<script>
    $('#projelistele').DataTable({
        language: {
            info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
            infoEmpty: "Gösterilecek hiç kayıt yok.",
            loadingRecords: "Kayıtlar yükleniyor.",
            zeroRecords: "Tablo boş",
            search: "Arama:",
            infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
            buttons: {
                copyTitle: "Panoya kopyalandı.",
                copySuccess: "Panoya %d satır kopyalandı",
                copy: "Kopyala",
                print: "Yazdır",
            },

            paginate: {
                first: "İlk",
                previous: "Önceki",
                next: "Sonraki",
                last: "Son"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'copy', 'excel', 'pdf', 'print'
        ],
        responsive: true
    });
</script>

